# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.psd
logo_cn.png
logo_en.png

# Files from Forge MDK
forge*changelog.txt
